# Telegram Bot Token (BotFather'dan olingan)
BOT_TOKEN=8855390226:AA...

# Admin Telegram ID lari (vergul bilan ajratilgan)
ADMINS=8352596257

# Bot Username
BOT_USERNAME=@uzkinobaza_bot

# Majburiy a'zolik kanallari (ixtiyoriy)
CHANNELS=

# Proxy (Render.com da server xorijda bo'lgani uchun proxy shart emas, bo'sh qoldiring)
PROXY_URL=
